<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waifu Collector</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Waifu Collector</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div>
      All Rights Reserved, &copy; 2021 Waifu Collector
    </div>
  </footer>
</body>
</html>